
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Express</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Image Express</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Upload Image</a></li>
      <li><a href="/HowTo">How To</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>How To</h2>
  <div class="lead">
    <p>
      Since the Google Cloud Vision library is readily available, where we just call a function to pass the image we want analyze. <br>
      There were only 3 things that we needed to do to create the entire program:
      <ul>
          <li>Create the backend to invoke the Google Cloud Vision API and return the results to the user</li>
          <li>Create the frontend for the user to be able to upload an image</li>
          <li>A way to store the uploaded images to send to the Google Cloud Vision API</li>
    </ul>
    </p>
  </div>
</div>


</body>
</html>
